body {  
}

.header {
    display: flex;
    justify-content: center;
}
.header__nav {
    display: flex;
    margin-top: 57px;
    width: 910px;
    justify-content: space-between;
}
.header__list {
    display: flex;
    
}
.header__list-item {
    color:#000000;
    list-style-type: none;
    margin-right: 42px;
}