body {
    font-family: 'Roboto', sans-serif;
}
/* .container {
    width: 1024px;
    margin: 0 auto;
} */
.nav {
    display: flex;
    justify-content: space-between;
    /* margin-left: 150px;
    margin-right: 150px; */
    /* width: 1090px; */
    width: 1140px;
    margin: 0 auto;
    height: 70px;
    align-items: center;
}
.nav__wrapper {
    display: flex;
    justify-content: space-between;
}
.nav__logo-text {
    display: flex; 
    align-items: center;
}
.nav__text {
    font-size: 24px;
    margin-left: 16px;
}
.nav__list {
    display: flex;
    text-decoration: none;
    font-size: 14px;
}
.nav__list li {
    margin-left: 30px;
}