.wrapper {
    width: 950px;
    margin: 0 auto;
}
.top {
    display: flex;
    justify-content: center;  
}
.top li {
    margin: 10px;
}
.block {
    display: flex;
    flex-direction: column;
    height: 350px;
    background: #d0d4d8;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.block__element {
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    background: salmon; 
    margin: 15px;
}
